.footer {
    background: #121010;
    padding-top: 50px;

    &__contact {
        display: flex;
        justify-content: space-between;
        padding-bottom: 47px;

        @media(max-width: 1200px) {
            flex-wrap: wrap;
            gap: 40px;
            align-items: center;
        }
    }


    &__form {
        max-width: 643px;
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        gap: 17px;

        input {
            max-width: 185px;
            max-height: 46px;
            background-color: transparent;
            padding: 18px 0 15px 14px;
            font-size: 18px;
            font-family: var(--font-family);
            color: var(--white-color);
            font-style: italic;
            line-height: 1.333;
            border: 2px solid var(--orange-color);
        }

        textarea {
            width: 100%;
            min-height: 123px;
            margin-bottom: 20px;
            background-color: transparent;
            padding: 18px 0 15px 14px;
            font-size: 18px;
            font-family: var(--font-family);
            color: var(--white-color);
            font-style: italic;
            line-height: 1.333;
            border: 2px solid var(--orange-color);
        }
    }

    &__button {
        cursor: pointer;
        padding: 11px 72px;
        background-color: var(--orange-color);
        border: none;
        text-align: center;
        font-size: 18px;
        font-family: var(--font-family);
        color: var(--white-color);
        line-height: 1.333;
        margin-left: 439px;

        @media(max-width: 670px) {
            display: flex;
            margin: 0 auto;
        }
    }

    &__loc {
        img {
            max-width: 560px;
            max-height: 304px;

            @media(max-width: 600px) {
                max-width: 490px;
            }
        }
    }

    &__privacy {
        padding: 12px 0 8px 0;
        text-align: center;
        background-color: #000000;
        color: var(--white-color);
        font-size: 14px;
        font-family: var(--font-family);
        text-transform: uppercase;
        line-height: 2.571;
    }
}